[Unit]
Description=DST Caves Shard
After=network.target dst-master.service

[Service]
Type=simple
User={{ dst_user }}
WorkingDirectory={{ dst_install_dir }}/bin64
Environment=LD_LIBRARY_PATH={{ dst_install_dir }}/bin64
ExecStart={{ dst_install_dir }}/bin64/dontstarve_dedicated_server_nullrenderer_x64 \
  -persistent_storage_root {{ dst_home }} \
  -conf_dir .klei/DoNotStarveTogether \
  -cluster "{{ dst_cluster_name }}" \
  -shard Caves
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
