[NETWORK]
server_port = {{ dst_caves_port }}
server_intention = {{ dst_cluster_intention }}

[SHARD]
is_master = {{ 'true' if caves_world_settings.is_master else 'false' }}
name = {{ caves_world_settings.name }}

[ACCOUNT]
encode_user_path = true

[STEAM]
master_server_port = {{ dst_steam_query_port | int + 2 }}
authentication_port = {{ dst_steam_query_port | int + 3 }}

[GAMEPLAY]
max_players = {{ cluster_max_players }}
