[NETWORK]
server_port = {{ cluster.master_port }}

[SHARD]
is_master = true
name = Master

[ACCOUNT]
encode_user_path = true

[STEAM]
master_server_port = {{ cluster.steam_master_port }}
authentication_port = {{ cluster.steam_auth_port }}
